src/Labs.Lib/obj/Debug/net7.0
src/Labs.Lib/obj
tests/Labs.Lib.Tests/obj/Debug/net7.0
tests/Labs.Lib.Tests/obj
src/Labs.Lib/bin/Debug/net7.0
src/Labs.Lib/bin/
tests/Labs.Lib.Tests/bin/Debug/net7.0
tests/Labs.Lib.Tests/bin/
src/Labs.Benchmakrs/bin/Debug/net7.0
src/Labs.Benchmakrs/obj/Debug/net7.0
src/Labs.Benchmakrs/obj
src/Labs.Benchmakrs/bin
BenchmarkDotNet.Artifacts
