src/Labs.Lib/obj/Debug/net7.0
src/Labs.Lib/obj
tests/Labs.Lib.Tests/obj/Debug/net7.0
tests/Labs.Lib.Tests/obj
src/Labs.Lib/bin/Debug/net7.0
src/Labs.Lib/bin/
tests/Labs.Lib.Tests/bin/Debug/net7.0
tests/Labs.Lib.Tests/bin/
src/Labs.Benchmakrs/bin/Debug/net7.0
src/Labs.Benchmakrs/obj/Debug/net7.0
src/Labs.Benchmakrs/obj
src/Labs.Benchmakrs/bin
BenchmarkDotNet.Artifacts
src/Labs.App/bin/Debug/net7.0
src/Labs.App/bin
src/Labs.App/obj/Debug/net7.0/ref
src/Labs.App/obj/Debug/net7.0/refint
src/Labs.App/obj/Debug/net7.0
src/Labs.App/obj
artifacts/CodeCoverage/amd64
artifacts/CodeCoverage/arm64
artifacts/CodeCoverage/coreclr
artifacts/InstrumentationEngine/alpine/x64
artifacts/InstrumentationEngine/arm64
artifacts/InstrumentationEngine/macos/x64
artifacts/InstrumentationEngine/ubuntu/x64
artifacts/InstrumentationEngine/x64
artifacts/InstrumentationEngine/x86
artifacts/amd64
artifacts/CodeCoverage
artifacts/arm64
artifacts/cs
artifacts/de
artifacts/es
artifacts/fr
artifacts/it
artifacts/ja
artifacts/ko
artifacts/pl
artifacts/pt-BR
artifacts/ru
artifacts/runtimes
artifacts/tr
artifacts/x86
artifacts/zh-Hans
artifacts/zh-Hant
artifacts
.idea/.idea.project/.idea
